button {
    opacity: 1;
  }
  
  button:active {
    opacity: 0.5;
  }

  .badge{
    color: black;
  }
  
  .search-input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #0056b3;
  }

  .notification-buttons {
    float: right;
  }
  
  .accept-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .decline-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  .dropdown-item.friend-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-item.friend-item:hover {
    background-color: #f8f9fa;
  }
  
  .friend-avatar {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  