button {
    opacity: 1;
  }
  
  button:active {
    opacity: 0.5;
  }

  .badge{
    color: black;
  }
  
  .search-input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #0056b3;
  }