<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-K1qOUhcCyA0KGvGR1Hz8XNOeb2PrvL+rZ3LgIdp9L7P0zCw1b/feC50LG52g5PeJ5EAbn1kqh6daRMvZyFhjwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Main container for the entire header -->
<div *ngIf="user$ | async" [ngClass]="{ 'dark-mode': isDarkModeEnabled() }">

  <!-- Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%;">

    <!-- Navbar Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/post-list">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/post-add">Create Post</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 dropdown" (submit)="searchFunction($event)">
        <input class="search-input" [(ngModel)]="searchKeyword" name="searchKeyword" placeholder="Search posts" data-toggle="dropdown">
         <button class="search-button" (click)="searchFunction($event)">Search</button>
 
        <div class="dropdown-menu" [class.show]="searchDropdownOpen && filteredUsers.length > 0">
          <a class="dropdown-item" *ngFor="let user of filteredUsers" (click)="navigateToProfile(user.email)">{{ user.email }}</a>
        </div>
      </form>

 <!-- ... -->
<div class="dropdown" style="display: inline-block;">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleNotificationsDropdown()" aria-haspopup="true" aria-expanded="false">
    <img src="../../assets/notification.png" alt="notification" style="width: 24px; height: 24px;">
    <span class="badge badge-dark" *ngIf="notifications.length > 0">{{ notifications.length }}</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [class.show]="notificationsDropdownOpen">
    <a class="dropdown-item" *ngFor="let notification of notifications">{{ notification }}</a>
  </div>
</div>

<button  routerLink="/profile" class="btn btn-link" style=" background: none; border: none;">
  <img src="../../assets/user.png" alt="profile" style="width: 24px; height: 24px;">
</button>

<div class="dropdown" style="display: inline-block;">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleFriendsDropdown()" aria-haspopup="true" aria-expanded="false">
    <img src="../../assets/friends.png" alt="friends" style="width: 24px; height: 24px;">
  </button>
  <div class="dropdown-menu" [class.show]="friendsDropdownOpen">
    <a class="dropdown-item" *ngFor="let user of users" (click)="startChatWith(user)">{{ user.email }}</a>
    </div>
</div>
<!-- ... -->


      <!-- Dark Mode Toggle Button -->
      <button (click)="toggleDarkMode()" class="btn btn-link" style="margin-left: auto; background: none; border: none;">
        <img src="../../assets/dark.png" alt="Toggle Dark Mode" style="width: 24px; height: 24px;">
      </button>
      
<!-- Recycle Bin Modal -->
<div #recycleBinModal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recycle Bin</h5>
        <button type="button" class="close" (click)="closeRecycleBinModal()">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngFor="let post of deletedPosts; let i = index">
          <h5>{{ post.title }}</h5>
          <button (click)="restorePost(i)">Restore</button>
          <button (click)="permanentlyDeletePost(i)">Delete Permanently</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Recycle Bin Button -->
<button class="btn btn-link" style="background: none; border: none;" (click)="openRecycleBinModal()">
  <img src="../../assets/bin.png" alt="Open Recycle Bin" style="width: 24px; height: 24px;">
</button>

<button class="btn btn-link" style="background: none; border: none;" (click)="logout()">
  <img src="../../assets/logout.png" alt="logout" style="width: 24px; height: 24px;">
</button>

</div>
