<body>
    <form>
        <h2><b><i>MAILAH</i></b> Lite | Log In</h2>
        <hr><br>
        Email: <input type="text" name="email" required="" [(ngModel)]="email"><br>
        <div class="password-container">
            Password: 
            <input type="password" name="password" id="passwordInput" [(ngModel)]="password">
            <img src="https://static.vecteezy.com/system/resources/previews/000/576/988/original/eye-icon-vector-illustration.jpg" alt="Toggle Password" (click)="togglePasswordVisibility('passwordInput')" class="visibility-icon" >
        </div>
        <br>
        <button type="submit" (click)="signIn($event)">Sign In</button><br><br>

        <p><a routerLink="/signup" class="signup" style="text-decoration: none;">Sign Up Here</a></p>

    </form>
</body>

