<body>
    <form>
        <h2><b><i>MAILAH</i></b> Lite | Sign Up</h2>
        <hr><br>
        First Name: <input type="text" name="firstName" required="" [(ngModel)]="firstName"><br>
        Last Name: <input type="text" name="lastName" required="" [(ngModel)]="lastName"><br>
        Email: <input type="text" name="email" required="" [(ngModel)]="email"><br>
        <div class="password-container">
            Password: 
            <input type="password" name="password" id="passwordInput" [(ngModel)]="password">
            <img src="https://static.vecteezy.com/system/resources/previews/000/576/988/original/eye-icon-vector-illustration.jpg" alt="Toggle Password" (click)="togglePasswordVisibility('passwordInput')" class="visibility-icon" >
        </div>
        <br>
        <button type="submit" (click)="signUp()">Sign Up</button><br><br>

        <p><a routerLink="/login" class="signup" style="text-decoration: none;">Sign In Here</a></p>
    </form>
</body>