<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<br><br><br>
<div class="user-images" style="display: flex; flex-direction: row;">
  <label for="file-upload" class="custom-file-upload">
    <i class="fa fa-plus"></i>
  </label>
  <input id="file-upload" type="file" (change)="onFileSelected($event, currentUser)" style="display: none;">
  <!-- Camera button -->
  <button class="camera-button" (click)="openCameraModal()"><i class="fa fa-camera"></i></button>
  <div *ngFor="let user of users$ | async" style="text-align: center; position: relative;">
    <div *ngIf="currentUser.uid === user.uid && userStatus" class="user-status">{{ userStatus }}</div>
    <div *ngIf="user.userStatus" class="user-status">{{ user.userStatus }}</div>
    <img class="pic" [src]="user.photoURL ? user.photoURL : 'https://i.stack.imgur.com/l60Hf.png'" 
         [style.border]="user.hasStory ? '4px solid blue' : 'none'" 
         style="width: 70px; height: 70px; border-radius: 50%; margin-right: 20px;"
         (click)="user.hasStory && openModal(user)">
    <p style="margin-right: 20px;">{{ user.lastName }}</p>
    <div *ngIf="currentUser.uid === user.uid" style="position: absolute; top: 0; right: 0;">
      <button class="add" (click)="showTextBox = !showTextBox"><i class="fa fa-plus" ></i></button>
      <div class="input-group">
        <div class="input-wrapper">
          <input *ngIf="showTextBox" [(ngModel)]="userStatus" (blur)="showTextBox = false" (keydown.enter)="updateUserStatus(user, userStatus)" class="form-control">
          <i *ngIf="showTextBox" class="fa fa-check" (click)="updateUserStatus(user, userStatus)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Camera Modal -->
<div id="cameraModal" class="modal">
  <div class="modal-content">
    <video #videoElement autoplay></video>
    <button (click)="capture()">Capture</button>
    <canvas #canvasElement style="display: none;"></canvas>
    <span class="close" (click)="closeCameraModal()">&times;</span>
  </div>
</div>

<div id="myModal" class="modal">
  <!-- Modal content -->
<div class="modal-content">
  <div class="user-info-container">
    <div class="user-info">
      <img *ngIf="selectedUser" [src]="selectedUser.photoURL" alt="User Profile Picture">
      <p *ngIf="selectedUser">{{ selectedUser.firstName }} {{ selectedUser.lastName }}</p>
    </div>
 
    <div class="dropdown">
      <button class="delete-button" (click)="toggleDropdown()">...</button>
      <div id="myDropdown" class="dropdown-content" [style.display]="dropdownVisible ? 'block' : 'none'">
        <button *ngIf="selectedUserStories[currentStoryIndex]" class="delete-button delete-text" (click)="deleteStory(selectedUserStories[currentStoryIndex])">Delete</button>
        </div>
    </div>
  </div>
   
    <p class="timestamp" *ngIf="selectedUserStories[currentStoryIndex] && selectedUserStories[currentStoryIndex].timestamp">{{ getTimeDifference(selectedUserStories[currentStoryIndex].timestamp) }}</p>
    <img *ngIf="selectedUserStories[currentStoryIndex] && selectedUserStories[currentStoryIndex].mediaType === 'image'" [src]="selectedUserStories[currentStoryIndex]?.photoURL" alt="User Story">
    <video *ngIf="selectedUserStories[currentStoryIndex] && selectedUserStories[currentStoryIndex].mediaType === 'video'" [src]="selectedUserStories[currentStoryIndex]?.photoURL" autoplay muted loop></video>
        <button class="prev" (click)="previousStory()">&#8592;</button> <!-- Left arrow -->
    <button class="next" (click)="nextStory()">&#8594;</button> <!-- Right arrow -->
    <div *ngIf="selectedUserStories[currentStoryIndex]">
      
      <button class="reaction-button" (click)="addReaction('like')"><i class="fas fa-thumbs-up" style="color: green;"></i></button>
      <span>{{selectedUserStories[currentStoryIndex].reactionsCount['like']}}</span>
      
      <button class="reaction-button" (click)="addReaction('unlike')"><i class="fas fa-thumbs-down" style="color: red;"></i></button>
      <span>{{selectedUserStories[currentStoryIndex].reactionsCount['unlike']}}</span>
      
      <button class="reaction-button" (click)="addReaction('angry')"><i class="fas fa-angry" style="color: orange;"></i></button>
      <span>{{selectedUserStories[currentStoryIndex].reactionsCount['angry']}}</span>
      
      <button class="reaction-button" (click)="addReaction('sad')"><i class="fas fa-sad-tear" style="color: blue;"></i></button>
      <span>{{selectedUserStories[currentStoryIndex].reactionsCount['sad']}}</span>
      
      <button class="reaction-button" (click)="addReaction('heart')"><i class="fas fa-heart" style="color: pink;"></i></button>
      <span>{{selectedUserStories[currentStoryIndex].reactionsCount['heart']}}</span>
    </div>
    <span class="close" (click)="closeModal()">&times;</span>
  </div>
</div>

<!-- Posts -->
<ng-container *ngFor="let post of listOfPosts; let i=index">
  <app-post [post]="post" [index]="i" [userPhotoURL]="user?.photoURL"></app-post>
</ng-container>

<!-- Display search results -->
<div *ngFor="let searchResult of searchResults">
  <app-post [post]="searchResult" [userPhotoURL]="user?.photoURL"></app-post>
</div>